---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.js"></script>
		<title>zooptap</title>
	</head>
	<body>
		<main>
			<h1><em>zooptap</em></h1>
		</main>
		<script is:inline src="/sketch.js"/>
	</body>
</html>

<style>
	html, body {
		margin: 0;
		padding: 0;
	}
	canvas {
		display: block;
	}
	h1 {
		position: absolute;
		left: 50%;
		top: 1rem;
		transform: translateX(-50%);
		font-family: sans-serif;
		text
	}
</style>
